@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(0, 6%, 24%);
  font-size: 16px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('./images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  margin-bottom: 7.5rem;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 4rem 10rem auto;
}
.content > h1 {
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-bottom: 2rem;
}
.content > h1 > span {
  font-size: 65px;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}
.image_desktop {
  background-image: url('./images/hero-desktop.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.email {
  position: relative;
}
.email > input {
  margin-top: 2rem;
  width: 400px;
  height: 3.3rem;
  border-radius: 50px;
}
.input_valid {
  padding-left: 2rem;
  border: 1px solid hsl(0, 36%, 70%);
}
.input_invalid {
  padding-left: 2rem;
  border: 1px solid hsl(0, 93%, 68%);
}
.email > input::placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 0.6;
}
.email > button {
  position: absolute;
  margin-left: -60px;
  margin-top: 30px;
  border: none;
  width: 5.5rem;
  height: 3.5rem;
  border-radius: 50px;
  background: linear-gradient(90deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: hsl(0deg 80% 86%) 0px 10px 30px 0px;
}
.image_mobile {
  display: none;
}
.content > p {
  letter-spacing: 1px;
  color: hsl(0, 36%, 70%);
  line-height: 24px;
}
.valid {
  display: none;
}
.invalid {
  color: hsl(0, 93%, 68%);
  font-size: 15px;
}
@media screen and (max-width: 414px) {
  .image_desktop {
    display: none;
  }
  .image_mobile {
    display: block;
  }
  .content {
    text-align: center;
    margin: 0;
  }
  .content > h1,
  .content > h1 > span {
    font-size: 40px;
  }
  .content > h1 {
    font-weight: 600;
    margin-top: 3.5rem;
  }
  .content > p {
    margin: 0 2rem;
  }
  .logo {
    margin: 2rem;
  }
  .logo > img {
    float: left;
    width: 110px;
  }
  .email {
    margin: 2rem 2rem;
  }
  .email > input {
    width: 250px;
    height: 3.3rem;
    border-radius: 25px;
  }
  .input_valid {
    border: 1px solid hsl(0, 36%, 70%);
  }
  .input_invalid {
    border: 1px solid hsl(0, 93%, 68%);
  }
  .email > button {
    position: absolute;
    margin-left: -87px;
    margin-top: 30px;
  }
}
